.container1{
    width: 50%;
    margin-top: 5rem;
    margin-left: 25rem;
    padding: 2.8rem 3.5rem;
    border: 0.16rem solid #bebebe;
    border-radius: 0.5rem;
}

form{
    text-align: left;
}

label{
    font-size: 18px;
    font-weight: 600;
}

h2{
    font-weight: 800;
}